@import './normalize.css';
body {
    width: 100vw;
    height: 100vh;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
}

.el-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.el-select {
    margin-bottom: 15px;
}